/* ------------susy-------- */
$total-columns : 12;
$column-width : 4.5em;
$gutter-width : 1em;
$grid-padding : $gutter-width;
$from-direction: left;
$omega-float : right;

$default-transition-delay    : 0s;
@include border-box-sizing;

$small : 30em;
$xmedium : 34em;
$medium : 45em;
$larg : 65em;

.fullwidth{
	@include span-columns(12,12);
}
.oneSecond{
	@include span-columns(6,12);
	&:nth-child(2n){
		@include span-columns(6 omega,12);
	}
		
}

.oneThird{
	@include span-columns(4,12);
	&:nth-child(3n){
		@include span-columns(4 omega,12);
	}
		
}

.oneFourth{
	@include span-columns(3,12);
	&:nth-child(4n){
		@include span-columns(3 omega,12);
	}
		
}
.Fifth{
	@include span-columns(5,12);
			
}
.lastGrid{
	@include omega;
}

/*------ colors -----------*/
$cream1 : #bba78f;
$cream2 : #827A6D;
$cream3 : #19110F;

$brown1 : #FFA00A;
$brown2 : #BC6809;
$brown3 : #A35B09;


$grey3: #969696;
$grey2 : #CECECE;
$grey1 : #EBEBEB;

$black1 : #111;
$white : #FFFFFF;

$glass : rgba(0,0,0,0);
//$orang : #e47a26;
//$green : #8db63f;
//
//$blue1 : #c0dbe9;
//$blue2 : #00a7d4;
//$blue3 : #0065b1;
//$red : #FF3300;
//
//$glassyBlack : rgba(44, 35, 40, 0.85);
//$glassyWhite : rgba(255, 255, 255, 0.85);

/*----------------transition-shadow----------------------*/
.def-transition{
	@include single-transition(all ,0.4s , ease-in-out);
}
/*----------------box-shadow----------------------*/

.gold-box-shadow {
	@include box-shadow(0px 0px 6px $brown1,inset 0px 0px 6px $brown1);
}
.def-box-shadow {
	@include box-shadow(0px 0px 6px $grey2);
}
.dark-box-shadow {
	@include box-shadow(0px 0px 6px $black1);
}

/*----------------gradiant----------------------*/


