body.page-template-page-templatesintro-php{
  background-image:  image_url("wood.jpg");
  background-position: top left;
  background-repeat: repeat;
}
.site-main.intro-main {


  width :100%;
  height : 100%;
  .intro-content{
    padding-top : 100px;
    padding-bottom : 50px;
    width : 100%;
    .intro-logo,.intro-text{
      @include span-columns(12,12);
      @include at-breakpoint($medium){
        @include span-columns(6,12);
      }
      text-align : right;
      padding : 20px;
      img{
        max-width: 100%;
      }
    }
    .intro-logo{
      @include omega;
      text-align: left;
      padding-left : 40px;
    }
    .intro-text{
      padding-right: 0px;
      padding-top : 55px;
    }
  }
  .intro-buttons{
    width : 100%;
    text-align : center;
    a{
      @extend .def-transition;
      -webkit-box-shadow: none ;
      -moz-box-shadow: none ;
      box-shadow: none;

      display:inline-block;
      margin : 20px;
      height:41px;
      &:hover{
        @extend .def-box-shadow;

      }
    }
  }
}