
.site-header{

  .top-bar{

    .top-contact-info{
        direction: ltr;
      ul li{

        span{
          padding-left: 0px ;
          padding-right: 5px ;

        }
        i{
          padding:{
            right : 10px;
            left:5px;
          }
        }
      }
      @include span-columns(12,12);
      @include at-breakpoint($medium){
        @include span-columns(6 omega,12);
        margin-right : auto;

        text-align: left;
      }
    }

  }
  .lang-container{
    #lang_sel_list{
      float : right;
    }
    @include span-columns(12,12);
    @include at-breakpoint($medium){
      @include span-columns(6,12);
      margin-right : auto;

      text-align:right;
    }
  }

  .hero{
    .site-logo-container{

      @include span-columns(12,12);
      @include at-breakpoint($medium){
        @include span-columns(6,12);
        margin-right : auto;

        text-align: right;
        img.site-logo {
          margin: 30px 30px 5px auto;
        }

      }
    }
    .menu-search-area{

      form#searchform{

        @include at-breakpoint($medium){
          text-align: left;
          padding-right : 0px;
          padding-left : 30px;
          margin-top : auto;
        }

      }
      input#s{
        padding : 5px 10px 5px 28px;
      }
      span#submit{

        i{
          position: absolute;
          right : -23px;
          left : auto;
          top : 3px;
          cursor : pointer;
        }
      }
      @include span-columns(12,12);
      @include at-breakpoint($medium){
        @include span-columns(6 omega,12);
        margin-right : auto;

        text-align: left;
      }
    }
    span.menu-toggler{
      left : 30px;
      right : auto;
      }
  }

}

/*-------------------Main Menu-------------------------*/
nav.main-menu{
  margin-bottom: 10px;
  @include at-breakpoint($medium){
    margin-bottom : 0px;
  }
}
ul.main-nav{

  li{

    &.menu-item-has-children::after{
      @extend .fa;

      @include at-breakpoint($medium){
        content : "\f0d9";
        left : 15px;
        right : auto;
      }
    }
  }
  ul.sub-menu{
    @include at-breakpoint($medium){
      left : auto;
      right : -20%;
    }
    li a{
      img {
        padding-right : 1px;
        padding-left : 5px;
        float : right;
      }

    }
  }

  &>li{


    &.menu-item-has-children::after{
      @include at-breakpoint($medium){
        left : auto;
        right : 40%;
        content: "\f0d7";
      }

    }

    ul li ul.sub-menu{
      left : auto;
      right : 100%;
    }

  }
  &>li.mega-menu{
    &>ul.sub-menu{
      background-color: $cream3;

      right : -85%;
      left : auto;
      //display : block;
      width : 100%;
      max-width : 100%;

      @include at-breakpoint($medium 62em) {
        width : 42em;
        max-width : 42em;
      }
      @include at-breakpoint(62em){
        width : 57em;
        max-width :57em;
      }

      &>.sub-menu-wrap{
        @extend .layout;
      }
      &>.sub-menu-wrap>li{
        background-color: $glass;
        @include span-columns(12, 12);
        @include at-breakpoint($medium 62em) {
          @include span-columns(3, 12);
          margin-right : auto;

          &:nth-of-type(4n) {
            @include omega();
            margin-right : auto;

          }
        }

        @include at-breakpoint(62em){
          @include span-columns(2,12);
          margin-right : auto;
          &:nth-of-type(6n){
            @include omega;
            margin-right : auto;
          }

        }

        &>a{
          font-size : 90%;

          width : 100%;
          min-width : 100%;
          text-align: center;
        }



        ul.sub-menu{
          font-size : 80%;
          width : 100%;

          li{
            width : 100%;
          }

          img{
            float : right;
            margin-right : auto;
            margin-left : 7px;
          }
        }
        &.menu-item-has-children>a:after{
          content : "";
        }
      }
    }



  }
}
/*-------------------end of Main Menu-------------------*/
